.item.new
    %form#form-new(action="/" method="post")
        .detail.title
            %input(type="text" name="title" placeholder="New Item")
        .detail.content
            %input(type="text" name="content" placeholder="Description")
        %input(type="submit")
- @list.each do |item| 
    .item{'data-line' => item.id}
        .detail.title=item.title
        .detail.content=item.content
