.item.new
    %span.action-new(data-icon="m")
    .detail.title(contenteditable="true")
    .detail.content(contenteditable="true")
- @list.each do |item| 
    .item
        %span.action-move(data-icon="o")
        .detail.title=item[0]
        .detail.content=item[1]
        %span.action-delete(data-icon="d")