.item.new
    %form#form-new(action="/" method="post")
        %span.action-new(data-icon="m" onClick="addItem();")
        .detail.title
            %input(type="text" name="title" placeholder="New Item")
        .detail.content
            %input(type="text" name="content" placeholder="Description")
        %input(type="submit")
- if(@order == 'inverse') 
    - @items = @list.reverse_each
- else
    - @items = @list.each
- @items.each do |item| 
    .item{'data-line' => item.last}
        %span.action-move(data-icon="o")
        .detail.title=item[0]
        .detail.content=item[1]
        %span.action-delete(data-icon="d")
