!!!
%html
    %head
        %title Lisst
    %body
        %header Header
        %h1 Test
        - @list.each do |item| 
            .item
                - item.each do |detail|
                    .detail= detail
        %footer Footer
