!!!
%html
    %head
        %link(rel="stylesheet" href="/style.css")
        %link(rel="icon" href="/favicon.ico")
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")
        %link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
        %title=@title
    %body
        %header
            %h1=@title
        .content
            =yield
        %footer 
            %p This site was generated with <a href="https://github.com/qrohlf/Lisst" title="Lisst Source">Lisst</a>.
            %span.px-32(data-icon="a")
        %script=@modernizr